@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
}

.main-div {
  border-radius: 1.5em;
  text-align: center;
  box-shadow: 10px 10px 50px 5px rgb(196, 195, 206);
  width: 260px;
  padding: 15px 15px 30px 15px;
  background-color: hsl(0, 0%, 100%);
}

.image {
  border-radius: 1em;
  width: 100%;
}

.heading {
  margin: 27px 0;
  font-weight: 700;
  font-size: 22px;
  color: hsl(218, 44%, 22%);
}

.desc {
  font-size: 15px;
  font-weight: 500;
  color: hsl(220, 15%, 55%);
}
